html {
  -webkit-font-smoothing: antialiased;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  font-size: 15px;
  line-height: 24px;
  background-color: silver;
  font-family: Roboto, sans-serif;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
  height: 1px;
}
